<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fHJlZCUyMGN1cnRhaW5zfGVufDB8fHx8MTY5MTY1MzkyNHww&ixlib=rb-4.0.3&w=1500"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <span class="blog-post-card1-text"><span>Event</span></span>
      <span class="blog-post-card1-text1"><span>About: ...</span></span>
      <span class="blog-post-card1-text2"><span>Description</span></span>
    </div>
  </div>
</div>
