<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="team.html" class="navigation-links-navlink1"><span>Team</span></a>
    <a href="about.html" class="navigation-links-navlink2">
      <span>About</span>
    </a>
    <a href="mailto:dclawclub@gmail.com?subject=" class="navigation-links-link">
      <span>Contact</span>
    </a>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScreKRdzOAeDaezgDWrkc1sBkGZwJJRqC6agXsZ8AJNVf6dzw/viewform?usp=sf_link"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1"
    >
      <span>Join</span>
    </a>
  </nav>
</div>
