<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <a href="index.html" class="navigation-links1-navlink"><span>Home</span></a>
    <a href="events.html" class="navigation-links1-navlink1">
      <span>Events</span>
    </a>
    <a href="team.html" class="navigation-links1-navlink2"><span>Team</span></a>
    <a
      href="mailto:dclawclub@gmail.com?subject="
      class="navigation-links1-link"
    >
      <span>Contact</span>
    </a>
  </nav>
</div>
