<div>
  <link href="./navigation-links2.css" rel="stylesheet" />
  <nav class="navigation-links2-nav">
    <a href="index.html" class="navigation-links2-navlink"><span>Home</span></a>
    <a href="events.html" class="navigation-links2-navlink1">
      <span>Events</span>
    </a>
    <a href="about.html" class="navigation-links2-navlink2">
      <span>About</span>
    </a>
    <a
      href="mailto:dclawclub@gmail.com?subject="
      class="navigation-links2-link"
    >
      <span>Contact</span>
    </a>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScreKRdzOAeDaezgDWrkc1sBkGZwJJRqC6agXsZ8AJNVf6dzw/viewform?usp=sf_link"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links2-link1"
    >
      <span>Join</span>
    </a>
  </nav>
</div>
