<div>
  <link href="./work.css" rel="stylesheet" />
  <div class="work-work">
    <img
      alt='&lt;a href="https://www.freepik.com/free-vector/coming-soon-banner-with-focus-lights_18505062.htm#query=website%20coming%20soon&amp;position=26&amp;from_view=keyword&amp;track=ais"&gt;Image by starline&lt;/a&gt; on Freepik'
      src="https://images.unsplash.com/photo-1513111168953-34fc252c9279?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ2fHxjdXJ0YWluc3xlbnwwfHx8fDE2OTE2MjA1NTF8MA&ixlib=rb-4.0.3&w=1500"
      class="work-image"
    />
    <div class="work-details">
      <div class="work-header">
        <div class="work-heading">
          <span class="work-text"><span>Coming soon</span></span>
          <div class="link">
            <span class="link-caption"><span>More</span></span>
            <svg viewBox="0 0 1024 1024" class="link-icon">
              <path
                d="M298.667 341.333h323.669l-353.835 353.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l353.835-353.835v323.669c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-426.667c0-5.803-1.152-11.307-3.243-16.341s-5.163-9.728-9.216-13.781c-0.043-0.043-0.043-0.043-0.085-0.085-3.925-3.925-8.619-7.083-13.781-9.216-5.035-2.091-10.539-3.243-16.341-3.243h-426.667c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
              ></path>
            </svg>
          </div>
        </div>
        <span class="work-text1"><span>Future events here</span></span>
      </div>
      <div class="work-tags"></div>
    </div>
  </div>
</div>
